body{ height: 100%; margin: 0; padding: 0;}
html { height: 100% }

#outer {height: 100%; width: 100%; overflow: hidden; position: static;}

#outer[id] {display: table; position: absolute; opacity: 0.9; z-index: 1;}

#middle {position: absolute; top: 50%;} /* for adaptive (quirk) explorer only*/
#middle[id] {display: table-cell; vertical-align: middle; width: 100%; position: static; z-index: 1;} 

#inner {position: relative; top: -50%; text-align: center; z-index: 1;} /* for adaptive (quirk) explorer only */

#main_div
{
	position:relative;
}

#hidden_div{
	display: none;
}
#menu_box
{
	display: table-cell; vertical-align: middle; width: 100%; position: static;
	top: 5%;
	position: absolute;
}

#menu_div
{
/* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(center, ellipse farthest-corner, #424242 0%, #000000 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center, ellipse farthest-corner, #424242 0%, #000000 100%);

/* Opera */ 
background-image: -o-radial-gradient(center, ellipse farthest-corner, #424242 0%, #000000 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center center, 0, center center, 493, color-stop(0, #424242), color-stop(1, #000000));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #424242 0%, #000000 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(ellipse farthest-corner at center, #424242 0%, #000000 100%);

/*background-color:#ddd;*/

z-index: 2;
width:100%;
height:100%;
position: absolute;
text-align: center;
vertical-align: middle;
}


#map_canvas
{
z-index: 1;
width: 100%;
height: 85%;
}

#gauges_div
{
z-index: 1;
width: 100%;
height: 15%;
background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #424242 0%, #000000 100%);

text-align:center;
}

div.gauge{
z-index: 1;
width: 8em;
display: block;
margin-left: auto;
margin-right: auto;
}

select.default{
	width: 150px;
}

button.default{
	background-image:url(images/button_blue.gif);
	width:111px;
	height:35px;
	border:none;
	margin:0;
	color:#ffffff;
	font-weight:bold;
	font-size:14px;
	cursor: pointer;
	margin: 0.5em;
}


#hideMenuButton{

}

* {
    font-family:Consolas
}
 
.editableTable {
    border:solid 1px;
    width:100%
}
 
.editableTable td {
    border:solid 1px;
}
 
.editableTable .cellEditing {
    padding: 0;
}
 
.editableTable .cellEditing input[type=text]{
    width:100%;
    border:0;
    background-color:rgb(255,253,210);  
}

p.menu{
	color:red;
}
